<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>東京鉄道Now</title>
</head>
<body style="background-color:#EEEEEE">
<h2>東京鉄道Now</h2>

開発中。
<h5>
このサイトは東京公共交通オープンデータチャレンジAPIを利用して制作しています。
</h5>

<table>
    <tr>
        <td rowspan="2" style="background-color:#808080" th:style="'background-color:' + ${railway.color}" width="20px"></td>
        <td th:text="${railway.getOperator()}">事業者</td>
    </tr>
    <tr><td><h2 th:text="${railway.title}">路線名</h2></td></tr>
</table>
<div style="background-color:#0074BE"></div>
<b>
    <div></div>
</b>

<table>
    <thead>
    <tr>
        <td></td>
        <td th:text="${railway.ascendingTitle}">下り</td>
        <td th:text="${railway.descendingTitle}">上り</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="station : ${railway.sections}">
        <td><span th:text="${station.getTitle()}"></span></td>
        <td>
            <div th:each="train : ${station.getTrainsByDirection(true)}">
                <span th:text="${train.getTrainNumber()} + ' ' + ${train.getTrainType()} + ' ' + ${train.getDestination} + '行 ' + ${train.carComposition} + '両'"></span>
            </div>
        </td>
        <td>
            <div th:each="train : ${station.getTrainsByDirection(false)}">
                <span th:text="${train.getTrainNumber()} + ' ' + ${train.getTrainType()} + ' ' + ${train.getDestination} + '行 ' + ${train.carComposition} + '両'"></span>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>