<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html lang="jp" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7M2T977YVM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7M2T977YVM');
    </script>
    <title>東京鉄道Now</title>


    <style>
  html * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    width: 100%;
    background-color:#FFFFFF;
    font-family: sans-serif;
  }
  header {
    background: #444444;
    color: #dddddd;
  }
  .header-container {
    padding: 10px 10px 10px 10px;
  }
  nav {
  }
  .nav-container {
    padding: 0px 20px 0px 20px;
  }
  footer {}
  .footer-container {
    padding: 20px;
    font-size: 0.8rem;
  }
  main {}
  .main-container {
     padding: 0px 10px 40px 10px;
  }

  .info {
    background-color: lightgray;
    font-size: 0.9rem;
    padding: 5px 0;
  }
</style>
</head>
<body>
<header>
    <div class="header-container">
        <h2>東京鉄道Now</h2>
    </div>
</header>
<nav>
    <div class="nav-container">
        <ul>
        </ul>
    </div>
</nav>
<main>
    <div class="main-container">
        <h4>
            開発中。
            このサイトでは東京を中心とした鉄道路線ごとの現在の列車情報を確認することができます。
        </h4>
        <div class="info">
            <ul>
                <li>このサイトは東京公共交通オープンデータチャレンジAPIを利用して制作しています。</li>
                <li>情報が提供されている路線のみ対応していますので、これ以外の路線については対応することができません。</li>
            </ul>
        </div>

        <h3>JR東日本</h3>
        <a href="./current-railway/odpt.Railway:JR-East.ChuoRapid">中央線快速</a>
        <a href="./current-railway/odpt.Railway:JR-East.ChuoSobuLocal"> 中央・総武線各駅停車</a>
        <a href="./current-railway/odpt.Railway:JR-East.Hachiko"> 八高線</a>
        <a href="./current-railway/odpt.Railway:JR-East.Ito"> 伊東線</a>
        <a href="./current-railway/odpt.Railway:JR-East.Itsukaichi"> 五日市線</a>
        <a href="./current-railway/odpt.Railway:JR-East.Joban"> 常磐線</a>
        <a href="./current-railway/odpt.Railway:JR-East.JobanLocal"> 常磐線各駅停車</a>
        <a href="./current-railway/odpt.Railway:JR-East.JobanRapid"> 常磐線快速</a>
        <a href="./current-railway/odpt.Railway:JR-East.Kawagoe"> 川越線</a>
        <a href="./current-railway/odpt.Railway:JR-East.KeihinTohokuNegishi"> 京浜東北線・根岸線</a>
        <a href="./current-railway/odpt.Railway:JR-East.Keiyo"> 京葉線</a>
        <a href="./current-railway/odpt.Railway:JR-East.Musashino"> 武蔵野線</a>
        <a href="./current-railway/odpt.Railway:JR-East.Nambu"> 南武線</a>
        <a href="./current-railway/odpt.Railway:JR-East.Ome"> 青梅線</a>
        <a href="./current-railway/odpt.Railway:JR-East.SaikyoKawagoe"> 埼京線・川越線</a>
        <a href="./current-railway/odpt.Railway:JR-East.ShonanShinjuku"> 湘南新宿ライン</a>
        <a href="./current-railway/odpt.Railway:JR-East.SobuRapid"> 総武線快速</a>
        <a href="./current-railway/odpt.Railway:JR-East.SotetsuDirect"> 相鉄直通線</a>
        <a href="./current-railway/odpt.Railway:JR-East.Takasaki"> 高崎線</a>
        <a href="./current-railway/odpt.Railway:JR-East.Tokaido"> 東海道線</a>
        <a href="./current-railway/odpt.Railway:JR-East.Utsunomiya"> 宇都宮線</a>
        <a href="./current-railway/odpt.Railway:JR-East.Yamanote"> 山手線</a>
        <a href="./current-railway/odpt.Railway:JR-East.Yokohama"> 横浜線</a>
        <a href="./current-railway/odpt.Railway:JR-East.Yokosuka"> 横須賀線</a>

        <h3>東京メトロ</h3>
        <a href="./current-railway/odpt.Railway:TokyoMetro.Chiyoda">千代田線</a>
        <a href="./current-railway/odpt.Railway:TokyoMetro.Fukutoshin">副都心線</a>
        <a href="./current-railway/odpt.Railway:TokyoMetro.Ginza">銀座線</a>
        <a href="./current-railway/odpt.Railway:TokyoMetro.Hanzomon">半蔵門線</a>
        <a href="./current-railway/odpt.Railway:TokyoMetro.Hibiya">日比谷線</a>
        <a href="./current-railway/odpt.Railway:TokyoMetro.Marunouchi">丸ノ内線</a>
        <a href="./current-railway/odpt.Railway:TokyoMetro.MarunouchiBranch">丸ノ内支線</a>
        <a href="./current-railway/odpt.Railway:TokyoMetro.Namboku">南北線</a>
        <a href="./current-railway/odpt.Railway:TokyoMetro.Tozai">東西線</a>
        <a href="./current-railway/odpt.Railway:TokyoMetro.Yurakucho">有楽町線</a>

        <h3>都営地下鉄</h3>
        <a href="./current-railway/odpt.Railway:Toei.Asakusa">都営浅草線</a>
        <a href="./current-railway/odpt.Railway:Toei.Mita">都営三田線</a>
        <a href="./current-railway/odpt.Railway:Toei.Oedo">都営大江戸線</a>
        <a href="./current-railway/odpt.Railway:Toei.Shinjuku">都営新宿線</a>

        <h3>都電</h3>
        <a href="./current-railway/odpt.Railway:Toei.Arakawa">荒川線</a>

    </div>
</main>
<hr>
<footer>
    <div class="footer-container">
        <p class="copyright">(c) u-one 2021 All rights reserved.</p>
    </div>
</footer>
</body>
</html>